.bg {
    /* background-color: rgb(245, 245, 220); */
    border-style: double;
    border-bottom: 3px;
    border-color: black;
}



.coursecont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 500px;
    gap: 30px;
}

.maintext {
    display: flex;
    flex-direction:row;
    padding-left: 200px;
    padding-top: 70px;
}