.searchbar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    margin-right: 1px;
    height: 50px;
    width: 400px;
    margin: 1px;
    padding: 2px;
    border: none;
       
  }


  .searchbar input {
    margin-right: 10px;
    border-radius: 5px;
      height: 40px;
    width: 400px;
    padding: 5px;
    text-align: left;
    border: 1px solid #1b1a1a4c;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    
  }



