.cart {
    height: 100vh;
}

.cont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1000px;
    margin: 40px;
}

.checkout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
}

.h1 {
    font-size: 40px;
    font-weight: 700;
}

.h3 {
    font-size: 24px;
    font-weight: 600;
}

.x {
    display: block;
    position: absolute;
    right: 0;
    margin: 5px;
}