



.botones {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50px;
  width: 10000px;
  margin-top: 28px;
}

.buttons {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: auto;
}

/* .navcont {
    position: relative;
    top: 0;
  } */


/* .logo_content {
    height: 1em;
    width: 1em;
  } */

.botones img {
  border-radius: 15px;
  margin-left: 1px;
  margin-right: 1px;
  height: 80px;
  width: 120px;
}



.logo {
  max-height: fit-content;
  max-width: fit-content;
}